@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Dashboard</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">
                                <i class="fa fa-home" style="font-size: 20px;"></i> </a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Default</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row size-column">
            <div class="box-col-12">
                <div class="row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-project border-b-primary border-2"><span
                                    class="f-light f-w-500 f-14">Total Users</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">1,523</h2><span class="f-12 f-w-400">(This
                                            month)</span>
                                    </div>
                                    <div class="product-sub bg-primary-light">
                                        <img src="../assets/images/dashboard_icon/People.png" alt=""
                                            style="width: 25px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-Progress border-b-warning border-2"> <span
                                    class="f-light f-w-500 f-14">Active Users</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">836</h2><span class="f-12 f-w-400">(This month)
                                        </span>
                                    </div>
                                    <div class="product-sub bg-warning-light">
                                        <img src="../assets/images/dashboard_icon/verified-user.png" alt=""
                                            style="width: 30px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-Complete border-b-secondary border-2"><span
                                    class="f-light f-w-500 f-14">Total Reviews</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">475</h2><span class="f-12 f-w-400">(This month)
                                        </span>
                                    </div>
                                    <div class="product-sub bg-secondary-light">
                                        <img src="../assets/images/dashboard_icon/Star.png" alt="" style="width: 30px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-upcoming"><span class="f-light f-w-500 f-14">Upcoming</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">189</h2><span class="f-12 f-w-400">(This month)
                                        </span>
                                    </div>
                                    <div class="product-sub bg-light-light">
                                        <img src="../assets/images/dashboard_icon/People.png" alt=""
                                            style="width: 25px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 box-col-12">
                <div class="card">
                    <div class="card-header sales-chart card-no-border pb-0">
                        <h4>Sales Chart </h4>
                        <div class="sales-chart-dropdown">
                            <ul class="balance-data">
                                <li> <span class="circle bg-warning"></span><span class="f-light ms-1">Revenue</span>
                                </li>
                                <li><span class="circle bg-primary"> </span><span class="f-light ms-1">Orders</span>
                                </li>
                            </ul>
                            <div class="sales-chart-dropdown-select">
                                <div class="card-header-right-icon online-store">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle dropdown-toggle-store"
                                            id="dropdownMenuButtonToggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">Online Store</button>
                                        <div class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdownMenuButtonToggle" role="menu"><span
                                                class="dropdown-item">All </span><span
                                                class="dropdown-item">Employee</span><span class="dropdown-item">Client
                                            </span></div>
                                    </div>
                                </div>
                                <div class="card-header-right-icon">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown" aria-expanded="false">Last Year
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdownMenuButton1" role="menu"><span
                                                class="dropdown-item">Last Month</span><span class="dropdown-item">Last
                                                Week </span><span class="dropdown-item">Today </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 pt-0">
                        <div class="sales-wrapper">
                            <div id="saleschart"> </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-md-12 col-sm-12 box-col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Simple line chart</h4>
                        </div>
                        <div class="card-body">
                            <div class="ct-1 flot-chart-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Donut Chart</h4>
                    </div>
                    <div class="card-body apex-chart">
                        <div id="donutchart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Pie Chart </h4>
                    </div>
                    <div class="card-body apex-chart">
                        <div id="piechart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Top 5 Reviews</h4>
                                <span><code>#Review new</code></span>
                            </div>
                            <div class="col-md-6">
                                <div class="sort-panel mb-3 float-end">
                                    <label>
                                        <select class="btn btn-primary dropdown-toggle btn-md pe-5 text-start"
                                            id="sortingField">
                                            <option>Destination</option>
                                            <option>Stay</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive signal-table custom-scrollbar">
                        <table class="table table-hover table-lg">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tag</th>
                                    <th scope="col">Customer </th>
                                    <th scope="col">Destination Name</th>
                                    <th scope="col">Rate</th>
                                    <th scope="col">Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="d-flex align-items-center"><img class="me-2"
                                            src="../assets/images/tags/destination.png" alt="Destination"
                                            style="width: 33px;"><span class="font-success">Destination</span></td>
                                    <td><img class="img-fluid table-avtar" src="../assets/images/avtar/3.jpg"
                                            alt="Destination">
                                        Alizaban</td>
                                    <td>Ba Om Pond</td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </td>
                                    <td>Chase Nguyen </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="d-flex align-items-center"><img class="me-2"
                                            src="../assets/images/tags/destination.png" alt="Destination"
                                            style="width: 33px;"><span class="font-success">Destination</span></td>
                                    <td><img class="img-fluid table-avtar" src="../assets/images/avtar/3.jpg"
                                            alt="Destination">
                                        Alizaban</td>
                                    <td>Ba Om Pond</td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </td>
                                    <td>Brie Furman</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="d-flex align-items-center"> <img class="me-2"
                                            src="../assets/images/tags/destination.png" alt="Destination"
                                            style="width: 32px;"><span class="font-success">Destination</span></td>
                                    <td><img class="img-fluid table-avtar" src="../assets/images/avtar/3.jpg"
                                            alt="Destination">
                                        Alizaban</td>
                                    <td>Pond Ba Om</td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </td>
                                    <td>Jeremy Lake</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td class="d-flex align-items-center"> <img class="me-2"
                                            src="../assets/images/tags/destination.png" alt="Destination"
                                            style="width: 32px;"><span class="font-success">Destination</span></td>
                                    <td><img class="img-fluid table-avtar" src="../assets/images/avtar/3.jpg"
                                            alt="Destination">
                                        Alizaban</td>
                                    <td>Pond Ba Om</td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </td>
                                    <td>Angelica Howards</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td class="d-flex align-items-center"> <img class="me-2"
                                            src="../assets/images/tags/destination.png" alt="Destination"
                                            style="width: 32px;"><span class="font-success">Destination</span></td>
                                    <td><img class="img-fluid table-avtar" src="../assets/images/avtar/3.jpg"
                                            alt="Destination">
                                        Alizaban</td>
                                    <td>Pond Ba Om</td>
                                    <td>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </td>
                                    <td>Diane Okuma</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>