@using TraVinhMaps.Web.Admin.Models.CommunityTips
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CommunityTipsRequest

@{
    ViewData["Title"] = "Create Tip";
}

<div>
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-6">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    @{
                        var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                    }
                    @if (breadcrumbs != null)
                    {
                        @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form asp-controller="CommunityTips" asp-action="Create" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form theme-form">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-4">
                                                <label asp-for="Title" class="control-label">Title</label>
                                                <input asp-for="Title" class="form-control" placeholder="Title *"
                                                    required />
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-4">
                                                <label asp-for="Content" class="control-label">Enter Content</label>
                                                <textarea asp-for="Content" id="Description" class="form-control"
                                                    rows="7" required></textarea>
                                                <span asp-validation-for="Content" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display: none">
                                        <div class="col">
                                            <div class="mb-4">
                                                <label asp-for="TagId" class="control-label">Tag</label>
                                                <select asp-for="TagId" class="form-control" asp-items="ViewBag.Tags"
                                                    required>
                                                </select>
                                                <span asp-validation-for="TagId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <input asp-for="Status" type="hidden" value="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-end">
                                                <a asp-controller="CommunityTips" asp-action="Index"
                                                    class="btn btn-cancel">Cancel</a>
                                                <button type="submit" class="btn btn-success me-3">Create Tip</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/ckeditor5.js"></script>
    <script>
        $(document).ready(function () {
            @if (TempData["CreateTipsError"] != null)
                {
                    <text>
                        showTimedAlert("Error!", "@TempData["CreateTipsError"]", "error", 1000);
                    </text>
            }
                        });

    </script>
}
