@model TraVinhMaps.Web.Admin.Models.CommunityTips.CommunityTipsResponse

@{
    ViewData["Title"] = "Edit Tips";
}


<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow-sm" style="border-radius: 15px;">
                    <div class="card-body" style="padding: 30px;">
                        <form asp-action="Edit" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="mb-4">
                                <label asp-for="Title" class="form-label fw-bold" style="border-left: 4px solid #28a745; padding-left: 12px; font-size: 1.1rem  ">Title</label>
                                <input asp-for="Title" class="form-control mt-2" style="border-radius: 8px; padding: 10px; border-color: #e0e0e0;" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="Content" class="form-label fw-bold" style="border-left: 4px solid #28a745; padding-left: 12px; font-size: 1.1rem; margin-bottom: 15px;">Content</label>
                                <textarea asp-for="Content" id="Description" class="form-control mt-2 wysiwyg-editor" rows="7" style="border-radius: 8px; padding: 10px; border-color: #e0e0e0;"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="mb-4" style="display: none">
                                <label asp-for="TagId" class="form-label fw-bold" style="border-left: 4px solid #28a745; padding-left: 12px; font-size: 1.1rem;">Tag</label>
                                <select asp-for="TagId" class="form-select mt-2" asp-items="ViewBag.Tags" required style="border-radius: 8px; padding: 10px; border-color: #e0e0e0;"></select>
                                <span asp-validation-for="TagId" class="text-danger"></span>
                            </div>

                            <div class="row mt-5">
                                <div class="col">
                                    <div class="text-end">
                                        <a class="btn btn-cancel me-2" asp-action="Index">Cancel</a>
                                        <button type="submit" class="btn btn-success me-3">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/ckeditor5.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
