@using TraVinhMaps.Web.Admin.Models.Admins
@model AdminResponse
@{
   // ViewData["Title"] = "Details";
}


<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Profile</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#"
                                    data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                                    class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                                        class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="profile-title">
                                    <div class="media">
                                        <div class="media-body">
                                            <label class="form-label">Username</label>
                                            <h5 class="mb-1">@Model.Username</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <p class="form-control-plaintext">@Model.Email</p>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Create At</label>
                                <p class="form-control-plaintext">@Model.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <a asp-controller="Admin" asp-action="Index"
                                            class="btn btn-back">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>