@model TraVinhMaps.Web.Admin.Models.Auth.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="TraVinhGo.The Most App For Your Trip">
<meta name="keywords"
      content="admin template, Riho admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="pixelstrap">
<link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
<title>TraVinhGo - Forgot Password</title>
<!-- Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
<!-- Plugins css start-->
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">

<!-- forgot password page start-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5">
            <img class="bg-img-cover bg-center" src="../assets/images/login/3.jpg" alt="forgotpassword">
        </div>
        <div class="col-xl-7 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <a class="logo text-start" href="index-2.html">
                            <img class="img-fluid for-dark"
                                 src="../assets/images/logo/logo.png" alt="forgotpassword"><img class="img-fluid for-light"
                                                                                              src="../assets/images/logo/logo_dark.png" alt="forgotpassword">
                        </a>
                    </div>
                    <div class="login-main">
                        <form asp-action="RequestPasswordReset" asp-controller="Authen" class="theme-form">
                            @Html.AntiForgeryToken()
                            <h4>Reset Your Password</h4>
                            <p>Enter your email or phone number and we'll send you a verification code</p>
                            
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["ErrorMessage"]
                                </div>
                            }
                          
                            <div class="form-group">
                                <label asp-for="Identifier" class="col-form-label">Email Or Phone Number</label>
                                <input asp-for="Identifier" class="form-control" placeholder="Enter your email or phone number">
                                <span asp-validation-for="Identifier" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-0">
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Send Reset Code</button>
                                </div>
                                <div class="mt-3 text-center">
                                    <a asp-action="Index" asp-controller="Authen" class="link">Back to Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="../assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <!-- calendar js-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>
</div>

