@model TraVinhMaps.Web.Admin.Models.Auth.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="TraVinhGo.The Most App For Your Trip">
<meta name="keywords"
      content="admin template, Riho admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="pixelstrap">
<link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
<title>TraVinhGo - Reset Password</title>
<!-- Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">

<!-- reset password page start-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5">
            <div class="login-left-img">
                <img class="bg-img-cover bg-center" src="@(Url.Content("~/assets/images/login/login.png"))" alt="loginpage">
            </div>
        </div>
        <div class="col-xl-7 p-0">
            <div class="login-card login-dark">
                <div>
                    <div>
                        <img class="img-fluid for-dark"
                             src="~/assets/images/logo/logo.png" alt="looginpage">
                        <img class="img-fluid for-light"
                             src="~/assets/images/logo/logo.png" alt="looginpage">
                    </div>
                    <div class="login-main">
                        <form asp-action="ConfirmResetPassword" asp-controller="Authen" class="theme-form">
                            @Html.AntiForgeryToken()
                            <h4>Create New Password</h4>
                            <p>Enter your new password below</p>
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                          
                            <input asp-for="Token" type="hidden">
                            <input asp-for="UserIdentifier" type="hidden">
                          
                            <div class="form-group">
                                <label asp-for="NewPassword" class="col-form-label">New Password</label>
                                <div class="form-input position-relative">
                                    <input asp-for="NewPassword" class="form-control" placeholder="Enter new password" type="password">
                                    <div class="show-hide"><span class="show"></span></div>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="col-form-label">Confirm Password</label>
                                <div class="form-input position-relative">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" type="password">
                                    <div class="show-hide"><span class="show"></span></div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group mb-0">
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .login-card img.for-dark,
        .login-card img.for-light {
            max-width: 150px;
            height: auto;
            margin-left: 130px;
        }

        .login-left-img {
            padding-top: 40px;
        }

            .login-left-img img {
                width: 100%;
                height: auto;
            }
    </style>
    <!-- latest jquery-->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="../assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <!-- calendar js-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const showHideButtons = document.querySelectorAll('.show-hide');
            const passwordFields = document.querySelectorAll('input[type="password"]');
            
            showHideButtons.forEach((button, index) => {
                button.addEventListener('click', function() {
                    if (passwordFields[index].type === 'password') {
                        passwordFields[index].type = 'text';
                        button.querySelector('span').classList.remove('show');
                        button.querySelector('span').classList.add('hide');
                    } else {
                        passwordFields[index].type = 'password';
                        button.querySelector('span').classList.remove('hide');
                        button.querySelector('span').classList.add('show');
                    }
                });
            });
        });
    </script>
</div> 