@using TraVinhMaps.Web.Admin.Models.Feedback
@model FeedbackResponse

@{
    ViewData["Title"] = "Details";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12">
                                <div class="card-header">
                                    <h4>@Model.Username</h4>
                                </div>
                                <div class="card-body"><span>@Model.Content</span>
                                </div>
                                <div class="card-body"><i class="fa fa-clock-o me-2"></i><span>@Model.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")</span>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-back float-end me-3" asp-controller="Feedback" asp-action="Index">Back</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

